* {
    margin: 0;
    border: 0;
    padding: 0;
    
}

.bodyPage {
    background-image: url('../images/background.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
}

.bodyLogin {
    margin-top: 12%;
    background-color: white;
    width: 300px;
    height: 330px;
    margin-left: calc(50% - 150px);
    box-shadow: 0px 0px 8px 4px #000;
}

.logo {
    width: 100%;
    background-color: white;
    margin-top: -50px;
    border-radius: 100%;
}

.inputShields {
    width: 80%;
    margin-left: calc(10% - 12px);
    margin-top: 12px;
    padding: 6px;
    border-bottom: 1px solid gray;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-size: 16px;
    border-radius: 4px 4px 0px 0px;
}

.inputShields:hover {
    border-bottom: 1px solid #549245;
    transition: 0.5s;
}

.inputShields:focus {
    outline: none;
    width: 80%;
    border-bottom: 1px solid #549245;
    transition: 0.5s;
    border-top: 1px solid #549245;
    border-left: 1px solid #549245;
    border-right: 1px solid #549245;
}

.btnLogin {
    margin-top: 44px;
    margin-left: calc(50% - 50px);
    width: 100px;
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #549245;
    color: white;
}

.btnLogin:hover {
    background-color: #1E90FF;
    transition: 0.5s;
    cursor: pointer;
}
