* {
	margin: 0;
	padding: 0;
	border: 0;
}

.body_container {
	display: flex;
	flex-wrap: wrap ;
}

.nav {
	background-color: #549245;
	height: 64px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nav_btn {
	background-color: #62a467;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 2px black;
	margin-right: 24px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
}

.nav_btn:hover {
	background-color: #666;
	cursor: pointer;
	transition: 0.5s;
}

.text_nav {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 2px black;
	margin-left: 24px;
	margin-top: 20px
}

.menu {
	background-color: #333;
	height: calc(100vh - 64px - 16px);
	width: 284px;
	padding:8px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu_btn {
	border-radius: 8px;
	background-color: #333;
	color: #fff;
	margin-top: 8px;
	padding: 8px;
	width: 100%;
	height: 52px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.menu_btn:hover {
	background-color: #666;
	transition: 0.5s;
	cursor: pointer;
}

.menu_img {
	width: 80%;
	margin-right: 10%;
	align-self: flex-end;
}

.text_btn {
	margin-left: 5%;
}

.body_page {
	margin: 16px;
	height: calc(100vh - 64px - 32px);
	width: calc(100% - 334px);
	overflow-y: scroll;
	box-shadow: 0px 2px 5px black;
}

.banner {
	width: calc(100% - 4px);
	height: auto;
	border: 2px solid #333;
	border-radius: 0px 0px 28px 28px;
	display: flex;
}

.banner_info {
	margin-top: 12px;
	margin-left: 18px;
	width: 100%;
	height: auto;
}

.banner_info h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 38px;
	margin-bottom: 24px;
	margin-top: 12px;
}

.banner_info p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.banner_img {
	width: 600px;
	height: 400px;
}

.banner_img img {
	
	margin-left: 100px;
	width: 220px;
	margin-top: 15px;
}

.container_action_buttons {
	width: 100%;
	height: 64px;
	margin-top: 18px;
	background-color: #ccc;
	display: flex;
	justify-content: start;
}

.action_buttons {
	background-color: #666;
	height: 50px;
	width: auto;
	margin-top: 7px;
	margin-right: 7px;
    margin-left: 7px;
	font-size: 18px;
	color: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 8px;
}

.action_buttons:hover {
	background-color: #1E90FF;
	transition: 0.5s;
	cursor: pointer;
}

.waypoint_container {
	width: 100%;
	height: auto;
}

.waypoint_list_column {
    background-color: RGB(245, 245, 245);
    width: 100%;
    height: 50px;
    display: flex;
}

.waypoint_list {
    width: 100%;
    height: 50px;
    display: flex;
}

.waypoint_list:nth-child(odd) {
    background-color: RGB(245, 245, 245);
}

.waypoint_list:nth-child(even) {
    background-color: #fff;
}

.waypoint_id {
    width: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 16px;
    font-weight: bolder;
}

.waypoint_name {
    width: 100%;
    margin-top: 16px;
    margin-left: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.waypoint_date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 16px;
    width: 300px;
}

.waypoint_time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 16px;
    width: 300px;
}

.waypoint_list:hover {
    color: #1E90FF;
    cursor: pointer;
    text-decoration: underline;
}

.body_popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99;
    transition: 0.5s;
}

.blur {
    filter: blur(4px);
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
}

.popup {
    margin-left: calc(50% - 300px);
    margin-right: calc(50% - 300px);
    margin-top: 50px;
    background-color: #fff;
    width: 600px;
    height: auto;
    border: 2px solid #333;
    border-radius: 12px;
}

.nav_popup {
	margin-top: 6px;
    width: 100%;
    height: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav_btn_popup {
    background-color: rgba(255, 255, 255, 0);
    font-size: 24px;
    margin-right: 8px;
}

.nav_btn_popup:hover {
    color: #cf0000;
    cursor: pointer;
}

.nav_popup p {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.field {
	font-family: Arial, Helvetica, sans-serif;
	width: calc(100% - 16px);
	height: auto;
	padding: 8px;
	margin-top: 16px;
}

.title_option_popup {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 24px;
	margin-bottom: 12px;
}

.option_popup {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 16px;
	margin-bottom: 12px;
}

.field_name {
	width: calc(100% - 6px - 4px);
	height: 32px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 6px;
	font-size: 14px;
}

.field_image {
	width: calc(100% - 6px - 4px);
	height: 32px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 6px;
	font-size: 14px;
	margin-top: 14px;
}

.field_date {
	width: calc(33% - 6px - 4px);
	height: 32px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 6px;
	font-size: 14px;
	margin-top: 14px;
}

.field_time {
	width: calc(33% - 6px - 4px);
	height: 32px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 6px;
	font-size: 14px;
	margin-top: 14px;
	margin-left: 9px;
}

.field_location {
	width: calc(33% - 6px - 4px);
	height: 32px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 6px;
	font-size: 14px;
	margin-top: 14px;
	margin-left: 9px;
}

.field_description {
	width: calc(100% - 10px);
	height: 130px;
	margin-top: 14px;
	padding-left: 6px;
	padding-top: 6px;
	font-size: 14px;
	margin-top: 14px;
	border: 1px solid #333;
	border-radius: 4px;
	resize: none;
	word-break: break-all;
}

.popup_action_button {
	background-color: #666;
	height: 40px;
	width: auto;
	margin-top: 7px;
	margin-right: 7px;
    margin-left: 7px;
	font-size: 16px;
	color: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 8px;
	margin-bottom: 12px;
	float: right;
}

.popup_action_button:hover {
	background-color: #1E90FF;
	cursor: pointer;
	transition: 0.5s;
}

.popup_action_button_cancel {
	background-color: #666;
	height: 40px;
	width: auto;
	margin-top: 7px;
	margin-right: 7px;
    margin-left: 7px;
	font-size: 16px;
	color: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 8px;
	margin-bottom: 12px;
	float: right;
}

.popup_action_button_cancel:hover {
	background-color: #cf0000;
	cursor: pointer;
	transition: 0.5s;
}

.control_btn_popup {
	width: 100%;
	height: 55px;
}

.err_message {
	position: absolute;
	width: 300px;
	height: 32px;
	background-color: #fcb1b1;
	color: #cf0000;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 16px;
	margin-left: calc(50% - 150px);
	border-radius: 8px;
	margin-top: 12px;
}
